@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

[data-theme='corporate'] {
  --bg-base: oklch(var(--b1));
  --text-base: oklch(var(--bc));
}

[data-theme='dark'] {
  --bg-base: oklch(var(--b1));
  --text-base: oklch(var(--bc));
}
